RewriteEngine On

# Stop processing if already in the /public directory or in the /well-known/acme-challenge
RewriteRule ^public/ - [L]
RewriteRule ^.well-known/acme-challenge - [L]

# Static resources if they exist
RewriteCond %{DOCUMENT_ROOT}/.well-known/acme-challenge/$1 -f
RewriteRule (.+) .well-known/acme-challenge/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/.well-known/acme-challenge/$1 -f
RewriteRule (.+) .well-known/acme-challenge/$1 [L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# Route all other requests
RewriteRule (.*) index.php?path=$1 [L,QSA]