@import '../helpers';
@import '../conf';

header {
	.div();
	background-color: @darkblue;
	color: @white;
	border-bottom: 2px solid #00038b;
	padding: 15px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	nav.navbar {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: .5rem 1rem;
	}
	/* ---- */
	.dropdown {
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 0;

		&:hover {
			.dropbtn {
				border: 1px solid @marine;
				color: @white;
				padding: 3px;
			}
			.dropdown-content {
				display: block;
			}
		}

		.dropbtn {
			background: none;
			color: @white;
			padding: 4px;
			font-size: 12px;
			cursor: pointer;
			width: 150px;
			span {
				display: block;
			}
		}
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: @white;
			max-width: 150px;
			ul {
				li {
					list-style: none;
					a {
						font-size: 14px;
						color: @marine;
					}
				}
			}
			.btn-dropbtn {
				font-size: 12px;
				width: 140px;
				background-color: @marine;
				color: white;
				padding: 7px;
				cursor: pointer;
				display: block;
				margin: 15px auto auto;
				border: 1px solid @marine;
				&:hover {
					width: 140px;
					background: none;
					color: @marine;
					display: block;
					border: 1px solid @marine;
				}
			}
		}
	}
}